# This file was updated by Duplicator on 2025-10-23 11:07:20.
# See the original_files_ folder for the original source_site_htaccess file.
# BEGIN WordPress
# Directivele (liniile) între „BEGIN WordPress” și „END WordPress” sunt
# generate dinamic și ar trebui modificate numai prin filtrele WordPress.
# Toate modificările la directivele cuprinse între acești marcatori vor fi suprascrise.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /minet-site-nou/
RewriteRule ^index\.php$ - [L]
RewriteRule ^en/wp-login.php /minet-site-nou/wp-login.php [QSA,L]
RewriteRule ^ro/wp-login.php /minet-site-nou/wp-login.php [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /minet-site-nou/index.php [L]
</IfModule>

# END WordPress