# This file was updated by Duplicator on 2025-10-23 11:07:20.
# See the original_files_ folder for the original source_site_htaccess file.
# BEGIN WebP Express
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_ACCEPT} image/webp
RewriteCond %{REQUEST_FILENAME} (.*)\.(jpe?g|png)$
RewriteCond %{DOCUMENT_ROOT}/wp-content/webp-express/webp-images%{REQUEST_URI}.webp -f
RewriteRule (.+)\.(jpe?g|png)$ /wp-content/webp-express/webp-images%{REQUEST_URI}.webp [T=image/webp,L]
</IfModule>
# END WebP Express
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /minet-site-nou/
RewriteRule ^index\.php$ - [L]
RewriteRule ^en/wp-login.php /minet-site-nou/wp-login.php [QSA,L]
RewriteRule ^ro/wp-login.php /minet-site-nou/wp-login.php [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /minet-site-nou/index.php [L]
</IfModule>

# END WordPress