.wp-block-freeform {
  /* Add style for galleries in classic-editor block */
}
.wp-block-freeform blockquote {
  border-left: 2px solid #0073aa;
}
.wp-block-freeform blockquote cite {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.71111em;
  font-style: normal;
  line-height: 1.6;
  color: #767676;
}
.cst-simple-quote {
  padding:15px;
  border:1px solid #f1a074;
  border-radius:25px;
  margin-bottom:25px;
  box-sizing: border-box;
}
.cst-complex-quote{
  max-width: 330px;
  color: #2d2d2d;
  font-family: 'Recoleta-Bold';
  padding: 20px 20px;
  text-align: center;
  display: inline-block;
  float:left;
  padding-right:30px;
  box-sizing: border-box;
}
.cst-complex-quote:before{
  content: "";
  width: 100%;
  display: block;
  padding: 40px;
  background-image: url(assets/img/border-top.svg);
  background-repeat: no-repeat;
  background-size: 100% 60px;
  background-position: center;
  box-sizing: border-box;
}
.cst-complex-quote:after{
  content: "";
  width: 100%;
  display: block;
  padding: 40px;
  background-image: url(assets/img/border-bottom.svg);
  background-repeat: no-repeat;
  background-size: 100% 60px;
  background-position: center;
  box-sizing: border-box;
}
@media (max-width:768px){
  .cst-complex-quote {
    width:100%;
    max-width:100%;
    float:none;
    padding:20px;
  }
}
