.numbers {
  max-width: 1240px;
  margin: 9rem auto;
}
.numbers-wrapper {
  display: flex;
  justify-content: space-between;
}

.numbers-wrapper-left {
  width: 37%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.numbers-wrapper-left .numbers-title {
  font-size: 28px;
}
.numbers-wrapper-left .numbers-title span {
  color: #e0101e;
}
.numbers-wrapper-left .numbers-description {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.numbers-wrapper-right {
  width: 55%;
  position: relative;
}
.numbers-wrapper-right .number_item .text {
  position: relative;
  top: -15px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-weight: 700;
  max-width: 140px;
  color: #c1a16d;
}
.numbers .numbers_container {
  margin-top: 0 !important;
  margin-bottom: inherit;
}
.numbers figure {
  margin-top: 0rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
}
.numbers .numbers_container .number_item {
  width: auto !important;
  position: absolute;
  padding: 0px !important;
  z-index: 1;
  color: white;
}

.numbers .numbers_container .number_item:nth-child(1) {
  top: 0;
  left: 0;
}

.numbers .numbers_container .number_item:nth-child(2) {
  top: 0;
  right: 0;
}

.numbers .numbers_container .number_item:nth-child(3) {
  bottom: 0;
  left: 0;
}

.numbers .numbers_container .number_item:nth-child(4) {
  bottom: 0;
  right: 0;
}
.numbers .number {
  margin-bottom: 0px !important;
  line-height: unset;
  text-shadow: none !important;
  /* color: #e1101e !important; */
}
.numbers_container .number_item .number span {
  font-size: 5.5rem;
  line-height: normal;
}
.numbers_container .number_item .number .text {
  font-size: 3rem;
}
.hp_about_us .info_item .info strong {
  color: #c1a16d;
  text-shadow: none;
}

section > .numbers {
  background-image: repeating-linear-gradient(
    315deg,
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0.02) 1px,
    transparent 1px,
    transparent 2px
  );
  background-repeat: repeat;
  background-size: auto;
}
@media screen and (max-width: 900px) {
  .numbers-wrapper {
    flex-direction: column;
  }
  .numbers-wrapper-left {
    width: 100%;
    margin-bottom: 4rem;
  }
  .numbers-wrapper-right {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .numbers {
    margin: 3rem auto;
  }
  .numbers_container .number_item .number span {
    font-size: 3.5rem;
  }
  .numbers_container .number_item .number .text {
    font-size: 2.5rem;
  }
  .numbers-wrapper-left {
    margin-bottom: 2rem;
  }
  .numbers-wrapper-right {
    width: 100%;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 450px) {
  .numbers {
    margin: 0rem auto;
  }
  .numbers_container .number_item .number span {
    font-size: 2.5rem;
  }
  .numbers_container .number_item .number .text {
    font-size: 1.5rem;
  }
}
