.numbers {
  max-width: 1240px;
  margin: 8rem auto;
}
.numbers-wrapper {
  display: flex;
  justify-content: space-between;
}
.numbers-wrapper-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.numbers-wrapper-left .numbers-title {
  font-size: 28px;
}
.numbers-wrapper-left .numbers-title span {
  color: #c1a16d;
}
.numbers-wrapper-left .numbers-description {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.numbers-wrapper-right {
  width: 50%;
  position: relative;
}
.numbers-wrapper-right .number_item .text {
  position: relative;
  top: -15px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-weight: 700;
}
.numbers .numbers_container {
  margin-top: 0 !important;
}
.numbers figure {
  width: 70%;
  margin: 1rem auto 2rem;
}
.numbers .numbers_container .number_item {
  width: auto !important;
  position: absolute;
  padding: 0px !important;
}

.numbers .numbers_container .number_item:nth-child(1) {
  top: 0;
  left: 0;
}

.numbers .numbers_container .number_item:nth-child(2) {
  top: 0;
  right: 0;
}

.numbers .numbers_container .number_item:nth-child(3) {
  bottom: 0;
  left: 0;
}

.numbers .numbers_container .number_item:nth-child(4) {
  bottom: 0;
  right: 0;
}
.numbers .number {
  margin-bottom: 0px !important;
  line-height: unset;
  text-shadow: none !important;
  color: #e1101e !important;
}
.numbers_container .number_item .number span {
  font-size: 4.5rem;
}
.numbers_container .number_item .number .text {
  font-size: 3rem;
}
.hp_about_us .info_item .info strong {
  color: #c1a16d;
  text-shadow: none;
}
@media screen and (max-width: 650px) {
  .numbers figure > img {
  }
  .numbers {
  }
}
section > .numbers {
  background-image: repeating-linear-gradient(
    315deg,
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0.02) 1px,
    transparent 1px,
    transparent 2px
  );
  background-repeat: repeat;
  background-size: auto;
}
