.numbers {
  max-width: 1240px;
  margin: 120px auto;
}
.numbers-wrapper {
  display: flex;
  justify-content: space-between;
}
.numbers-wrapper-left {
  width: 49%;
}
.numbers-wrapper-right {
  width: 49%;
  position: relative;
}
.numbers figure > img {
  width: 70%;
}
.numbers .numbers_container .number_item {
  width: 24%;
  position: absolute;
  padding: 0px !important;
}

.numbers .numbers_container .number_item:nth-child(1) {
  top: 0;
  left: 0;
}

.numbers .numbers_container .number_item:nth-child(2) {
  top: 0;
  right: 0;
}

.numbers .numbers_container .number_item:nth-child(3) {
  bottom: 0;
  left: 0;
}

.numbers .numbers_container .number_item:nth-child(4) {
  bottom: 0;
  right: 0;
}
.numbers .number {
  text-shadow: none !important;
  color: #e1101e !important;
}
.numbers_container .number_item .number span {
  font-size: 3rem;
}
.numbers_container .number_item .number .text {
  font-size: 3rem;
}
@media screen and (max-width: 650px) {
  .numbers figure > img {
  }
  .numbers {
  }
}
section > .numbers {
  background-image: repeating-linear-gradient(
    315deg,
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0.02) 1px,
    transparent 1px,
    transparent 2px
  );
  background-repeat: repeat;
  background-size: auto;
}
