.tabs-container {
  display: flex;
}
.tabs-nav {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  list-style: none;
  padding: 0;
  margin: 0 0 10px;
}
.tabs-nav li {
  padding: 10px 20px;
  border: 1px solid #ccc;
  margin-right: -1px;
  cursor: pointer;
  background: #f5f5f5;
}
.tabs-nav li.active {
  background: #fff;
  border-bottom: 1px solid #fff;
}
.tabs-content .tab-pane {
  display: none;
  border: 1px solid #ccc;
  padding: 15px;
  min-height: 250px;
}
.tabs-content .tab-pane.active {
  display: block;
}
.tabs-content {
  margin-bottom: 2em;
  flex-basis: 70%;
}
.technology_applicatons .box img {
  width: 40px;
  height: auto;
  margin-right: 6px;
  position: relative;
  top: 4px;
}
/* Box tehnical cu link START "PROCES SI DETALII TEHNICE" */
.technology_applicatons .box {
  text-align: left !important;
  outline: 1px solid #242223;
  border-top: 8px solid #c1a16d;
  padding: 50px;
  border-radius: 4px;
  background: #fbf9ee url("../assets/img/image.jpg") !important;
  background-size: cover !important;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  opacity: 0.95;
}
.technology_applicatons h2 {
  color: #fff;
  font-family: "Bebas Neue";
  letter-spacing: 3px;
  font-size: 42px;
  display: inline-block;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.technology_applicatons .info {
  font-weight: 600;
  line-height: 1.5;
}

.technology_applicatons .btn {
  background-color: #c42b1c;
}
/* Box tehnical cu link END  "PROCES SI DETALII TEHNICE" */
