.tabs-nav {
  display: flex;
  cursor: pointer;
  list-style: none;
  padding: 0;
  margin: 0 0 10px;
}
.tabs-nav li {
  padding: 10px 20px;
  border: 1px solid #ccc;
  margin-right: -1px;
  background: #f5f5f5;
}
.tabs-nav li.active {
  background: #fff;
  border-bottom: 1px solid #fff;
}
.tabs-content .tab-pane {
  display: none;
  border: 1px solid #ccc;
  padding: 15px;
}
.tabs-content .tab-pane.active {
  display: block;
}
/* Box tehnical cu link START "PROCES SI DETALII TEHNICE" */
.technology_applicatons .box {
  outline: 1px solid #242223;
  border-top: 12px solid #c42b1c;
  padding: 50px;
  border-radius: 4px;
  background: rgba(250, 249, 246, 0.9);
  text-align: left;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}
.technology_applicatons h2 {
  color: #303030;
  font-family: "Bebas Neue";
  letter-spacing: 3px;
  font-size: 42px;
}

.technology_applicatons .info {
  font-weight: 600;
  line-height: 1.5;
  color: #303030;
}

.btn.default-btn span {
  /* background-color:#e50017; */
}
.technology_applicatons .btn {
  background-color: #c42b1c;
}
/* Box tehnical cu link END  "PROCES SI DETALII TEHNICE" */
