.trusted-by {
  padding: 3.75rem 0 5rem 0;
  position: relative;
  margin: 0 auto;
}

.trusted-by-shades {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}
.trusted-by-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  text-align: center;
}

.trusted-by-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.trusted-by-title {
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 800;
}

.trusted-by-subtitle {
  font-size: 40px;
  text-align: center;
  width: 70%;
  color: #c1a16d;
  line-height: 1.2;
  font-weight: 700;
  margin: 0 auto 1rem;
}

.trusted-by .logos-row {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: scroll-logos 60s linear infinite;
  margin-bottom: 40px;
}

.trusted-by .logos-row img {
  height: 30px;
  width: auto;
  object-fit: contain;
  flex-shrink: 0;
}

.trusted-by .logos-row:hover {
  animation-play-state: paused;
}

/* Different speeds for each row */
.trusted-by .logos-row-0 {
  animation-duration: 60s;
}

.trusted-by .logos-row-1 {
  animation-duration: 80s;
}

.trusted-by .logos-row-2 {
  animation-duration: 100s;
}

/* alterneaza directia */
.trusted-by .logos-row-1 {
  animation-name: scroll-logos-reverse;
}

@keyframes scroll-logos {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-logos-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .trusted-by h2 {
    font-size: 22px;
    margin-bottom: 25px;
  }
  .trusted-by .logos-row {
    gap: 20px;
    margin-bottom: 15px;
  }
  .trusted-by .logos-row img {
    height: 60px;
  }
}
