/*
Theme Name:   Minet Theme Child
Template:     minet-theme
Version:      1.0
*/

/* Loaded last (all child overrides, highest priority) */

/* Footer START */
.footer-columns {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.footer-left, .footer-center, .footer-right {
    flex: 1;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-right ul {
    list-style: none;
    padding: 0;    
}

.footer-right li {
    margin-bottom: 4px;
}

.footer-right li a {
    text-decoration: none;
}

.footer-right li a:hover {
  text-decoration: underline;
}

.footer-socials {
    display: flex;
    gap: 12px;
    margin-top: 24px;
    justify-content: space-around;
}

.footer-socials img {
    width: 24px;
    height: 24px;
    display: block;
}

.footer-left a img {
    width: 100%;
}
/* Footer END */

/* Internal Navigation Links START info_boxes li a: */
.info_boxes li a,
.info_boxes li a * {
  border: 0 solid;
  box-sizing: border-box;
}

.info_boxes li a {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0.5rem 1.5rem 0.5rem 2rem;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  transition: color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
  border-radius: 0; /* remove full rounded edges */
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  width: max-content;
}

.info_boxes li a span {
  mix-blend-mode: normal;
  position: relative;
  z-index: 2;
  transition: color 0.3s ease;
}

.info_boxes li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,
    #fff 0%,
    #fff 77%,
    transparent 77%,
    transparent 79%,
    red 79%,
    red 100%);

  transform: skew(334deg);
  transition: left 0.5s ease;
  z-index: 1;
}

.info_boxes li a:hover:before {
  left: 0;
}

.info_boxes li a:hover:before {
  left: 0%;
}

.info_boxes li a svg {
  width: 16px;
  height: 16px;
  fill: #fff;
  display: inline-block;
  vertical-align: middle;
  transition: transform 0.3s ease, fill 0.3s ease;
  z-index: 2;
}

.info_boxes li a:hover svg {
  transform: translateX(4px);
  fill: #000;
}

.info_boxes li a:hover span {
  color: #252324;
}

.info_boxes li a:disabled {
  cursor: default;
  opacity: 0.6;
}

.info_boxes li a:-moz-focusring {
  outline: auto;
}
/* Internal Navigation Links END */

/* Casute cu linkuri+text, puse in grid START */
.info_boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.info_boxes_screen {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.info_boxes_screen ul li {
    border: 1px solid #fff;
    padding: 24px !important;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}
/* Casute cu linkuri+text, puse in grid END */

/* Box tehnical cu link START "PROCES SI DETALII TEHNICE" */
.technology_applicatons .box {
    outline: 1px solid #242223;
    border-top: 12px solid #c42b1c; 
    padding: 60px;
    /* border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; */
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.technology_applicatons h2 {
    color:#303030;
    font-family: 'Bebas Neue';
    letter-spacing: 3px;
    font-size: 42px;    
}

.technology_applicatons .info {
    font-weight: 600;
    line-height: 1.5;
    color:#303030;

}

.btn.default-btn span {
    /* background-color:#e50017; */
}
.technology_applicatons .btn {
    background-color:#c42b1c;
}
/* Box tehnical cu link END  "PROCES SI DETALII TEHNICE" */

/* Slide Imagini START */

/* Slide Imagini END */