/*
Theme Name:   Minet Theme Child
Template:     minet-theme
Version:      1.0
*/

/* Apply Roboto Condensed globally */
body, p, span, li, a {
    font-family: 'Roboto Condensed', sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700; /* bold headings */
}

/* Optional: lighter text */
p, li, span, a {
    font-weight: 400;
}
